@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-family: 'Montserrat', sans-serif;
    @apply text-base font-medium;
  }
  body {
    @apply bg-gray-50 text-gray-900 transition-colors dark:bg-gray-900 dark:text-gray-50;
  }

  .navbar-menu__items {
    @apply block border-b border-gray-100 py-2 pr-4 pl-3  hover:bg-gray-50 dark:border-gray-700  dark:hover:bg-gray-700 dark:hover:text-white md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:bg-transparent md:dark:hover:text-white;
  }
  .navbar-logged--user__sub-items {
    @apply block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-600 dark:hover:text-white;
  }

  .navbar-toggletheme__items {
    @apply flex w-full items-center justify-center py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600;
  }
  .auth-input {
    @apply mt-2 w-full rounded-md border bg-gray-200 px-4 py-2 focus:outline-none focus:ring-1 focus:ring-blue-600;
  }
  .auth-button {
    @apply mt-4 rounded-lg bg-sky-600 px-6 py-2 text-white hover:brightness-95;
  }
  .auth-link--page {
    @apply text-sm text-sky-500 hover:text-sky-400 hover:underline;
  }
}
